@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    background-color: var(--color-bg-primary);
}
* {
  scroll-behavior: smooth;
}

.dark {
  --color-bg-primary: #23263a;
  --color-bg-secondary: #3d4261;
  --color-bg-tertiary: #f3f3f3;
  --color-bg-accent: #6461af;
  --color-text-primary: #cfcfd0;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #6f6cc0;
}

.light {
  --color-bg-primary: #484f7a;
  --color-bg-secondary: #f3f2f2;
  --color-bg-accent: #9692df;
  --color-text-primary: #23263a;
  --color-text-secondary: #9ca3af;
  --color-text-accent: #4f46e5;
}
